  /* General */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #002244;
    background-color: #fff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;

  }

   /* benefits Section */
   .benefits {
    padding: 10rem;
    background-color: #002244;
    padding-inline: 15rem;
    height: 75vh; 
  }
  
  .benefits h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  
  .benefits-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas si es necesario */
    gap: 1rem; /* Añade un pequeño espacio entre las tarjetas */
    max-width: 100%; /* Asegura que el contenedor no desborde */

  }
  
  .benefit-item {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
    padding: 2.5rem;
    flex: 1;
    max-width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .benefit-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
  }

  .benefit-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .benefit-description h3 {
    color: #002244;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .benefit-description p {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {

    .benefits {
      padding: 3rem;
      background-color: #002244;
      height: 180vh;
    }
    .benefits-container {
      flex-direction: column;
      gap: 1rem;
    }
  
    .benefit-item {
      max-width: 100%;
    }
  }