  /* General */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #002244;
    background-color: #fff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;

  }

  /* faq Section */
  .faq {
    background-color: #002244;
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .faq h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 3rem;
  }
  
  .faq-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-item {
    margin-bottom: 1.5rem;
  }
  
  .faq-question {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #3FB88F;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  .contact-us h2 {
    text-align: center; /* Alinea el texto horizontalmente */
    font-size: 2.5rem;
    color: #00A86B;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .faq-answer {
    display: none;
    background-color: #fff;
    color: #002244;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 0.5rem;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  .faq-item.active .faq-question {
    background-color: #3FB88F;
  }
  @media (max-width: 768px) {
    .contact-us {
      align-items: center;
      background-color: #f5f5f5;
      padding: 4rem 2rem;
      text-align: center;
      padding-inline: 3rem;
    }
    .contact-container {
      flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
      align-items: center; /* Centra los elementos */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Alinea verticalmente */
      align-items: center; /* Alinea horizontalmente */
      text-align: center; /* Alinea todo el texto dentro de los elementos */

    }
    .contact-info,
    .contact-form {
      width: 100%; /* Asegura que ambos elementos ocupen el 100% del ancho */
      text-align: center; /* Centra el texto y los elementos */
    }
  
    .contact-form input,
    .contact-form textarea {
      
      width: 90%; /* Asegura que los campos del formulario no sean demasiado grandes en pantallas pequeñas */
      margin: 0 auto; /* Centra los campos de entrada */
    }
    .contact-form button {
      padding: 1rem;
      margin-inline: 2rem;
      background-color: #3FB88F;
      color: #fff;
      font-size: 1.2rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .contact-us h2 {
      text-align: center; /* Alinea el texto horizontalmente */
      font-size: 2.5rem;
      color: #00A86B;
      margin-bottom: 2rem;
      width: 100%;
    }

    .faq-question {
      font-size: 1.5rem;
      cursor: pointer;
      background-color: #3FB88F;
      color: #fff;
      padding: 1rem;
      border-radius: 15px;
      transition: background-color 0.3s ease;
    }
    
    .faq-answer {
      display: none;
      background-color: #fff;
      color: #002244;
      padding: 1rem;
      border-radius: 15px;
      margin-top: 0.5rem;
    }

  }

  /* footer Section */
  .footer {
    background-color: #0d0022;
    color: white;
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1rem;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #00A86B;
  }
  
  .social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .social-links li {
    display: inline-block;
  }
  
  .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white; /* Fondo blanco para el botón */
    border-radius: 50%; /* Hace que sea un botón circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una ligera sombra */
    transition: background-color 0.3s ease;
  }
  
  .social-links a img {
    width: 20px;
    height: 20px;
  }
  
  .social-links a:hover {
    background-color: #00A86B; /* Cambia el color de fondo al pasar el mouse */
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 2rem;
    }
  }